<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>
<body>

    <div class="d-inline-block">
        <nav class="navbar fixed-top navbar-dark" id="header">
            <a class="narbar-brand my-2" href="#">
                <img src="~/Content/Images/Joole.png" width="100" height="40" alt="" />
            </a>

            <div class="mx-auto">

                <div class="btn-group">


                    <button class="btn dropdown-toggle" type="button" id="categoryMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="categoryMenuBtn" id="categoriesDropDown">
                        @*<a class="dropdown-item" href="#" data-selected="true" hidden> All </a>*@
                        @{


                            foreach (var item in Model.c)
                            {
                                <a class="dropdown-item" href="#" data-selected="false" value="@item.CategoryName">@item.CategoryName</a>
                            }
                        }
                    </div>


                </div>
                <div class="btn-group">

                    <form class="form-inline my-2 my-lg-0" id="search">
                        <input name="SubCategory" list="subCategories" class="form-control mr-sm-2" type="text" aria-label="Search" id="searchInput" placeholder="Search..">

                        <datalist id="subCategories">
                            @{
                                foreach (var val in Model.t)
                                {
                                    <option value="@val.c2.SubCategory_Name" class="@val.c1.CategoryName" data-id="@val.c2.SubCategoryID"></option>
                                }
                            }
                        </datalist>

                        @*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@

                        <button class="btn btn-outline-success my-2 my-sm-0 bg-primary text-light" type="submit">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)

    <script>
    // var subCategoryList = @Model.
    // var subCategory = $("a[data-selected='true']").next().attr("value");
    $(document).ready(function () {

        var disableAllSubCatOptions = function () {
            $("#subCategories").children("option").each(function () { $(this).prop("disabled", true) });

        }
        // disableAllSubCatOptions();

        $("#categoriesDropDown").on("click", "a", function (event) {
            disableAllSubCatOptions();
            // while($("#subCategories option"))
            let c = $(event.target).attr("value");
            $(`.${c}`).prop("disabled", false);
        });

        $("#searchInput").on('input', function () {
            var val = this.value;
            if ($('#subCategories option').filter(function () {
                return this.value.toUpperCase() === val.toUpperCase();
            }).length) {
                var id = $(`option[value='${val}']`).attr("data-id");
                $(this).attr("data-SubCategoryID", id);
            }
        });


        $("#search").submit(function (event) {
            console.log($("#searchInput").val());
            console.log($("#search").serializeArray());
            $(this).attr("method", "POST");
            $(this).attr("action", "https://" + window.location.host + "/Search/ProductSummary");
            var sid_val = $("#searchInput").attr("data-SubCategoryID");
            var sid = $(this).find("#SubCategoryID");

            if (sid.length != 0) {
                sid.remove();
            }
            $(this).append(`<input name='SubCategoryID' id='SubCategoryID' value='${sid_val}' hidden />`);
            console.log($(this).attr("action"));
            // event.preventDefault();
        });

    });


    </script>
</body>
</html>
